@media screen and (max-width: 1020px) {
body, aside, section, #bloc_page, #bloc_hebergements, #hebergements, #activites, #bloc_mars, header, #contenair
  {
  width:auto;
  height:auto;
  }
aside {
  margin-left: 20px;
  margin-right: 20px;
  }
section, header {
  margin-left: 0px;
  }

#bloc_mars {
  flex-direction: column-reverse;
  }
#block_populaire{
  width:100%;
  }
h1,h2{
  font-size: 1.6em;
}
header a {
  font-size:1.1em;
 }
 aside p, aside h5 {
   font-size:1.1em;
 }
 h4 {
   font-size:1.1em;
 }
 .element_h, .element_pop{
   font-size: 1em;
   height: auto;
 }
.logo
  {
  position: absolute;
  top: 5px;
  left:20px;
  }
header nav {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  padding-left: 0px;
  margin:0px;
  text-align: center;
}
header a {
  margin: 0px;
  padding: 0px 0px 15px 0px;
  width: 50%;
}
header a:nth-of-type(1) {
  border-bottom: 2px solid #0065FC;
  border-top: none;
}
header a:nth-child(3) {
  text-align: right;
  margin-bottom: 20px;
}
header a:nth-of-type(2):hover {
  border-bottom: 2px solid #0065FC;
  font-weight: bold;
}
/*formulaire rechercher*/
aside{
  border:solid red 2px;
}
aside form{
  width:100%;
  display:
}
.geoloc {
  width:15%;
}
aside input[type=search] {
width:auto;
}
.bouton_loupe{
  width:15%;
  border-radius: 15px;
  color: #0065FC;
  background-color: #0065FC;
}
.rechercher {
  display: none;
}
.fa-search{
  display: block;
  margin: auto center;
  font-size: 20px;
  color:white;
}
/*filtres*/
.filtres {
  width: 100%;
  height:auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  margin: 0px;
  margin-top: 30px;
}
.filtres a {
  margin:0px;
  margin-top: 15px;
  font-size:1em;
}
 .filtres h3 {
  width: 100%;
}
 #block_populaire,#bloc_hebergements {
  margin:0px;
  padding-top:30px;
}
 #hebergements {
  margin:0px;
  padding:0px;
}
#bloc_hebergements {
  background-color: white;
}
#block_populaire h2{
  padding-left: 0px;
}
#bloc_hebergements h2, #bloc_act h2, #block_populaire h2 {
  margin-left: 20px;
  margin-bottom:20px;
}
#hebergements, #block_populaire {
  flex-direction: column;
  align-items: center;
  border-radius: 0px;
  padding-bottom:20px;
}
.element_h, .element_pop {
  width:90%;
  height:200px;
  margin-bottom:20px;
}
.afficher{
  margin-top: 0px;
}
#activites {
  display:flex;
  flex-direction: column;
  align-items: center;
}
#activites img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
#activites a {
  width:95%;
  height:160px;
  margin: 5px;
  margin-bottom:20px;h
  }

footer,#bas_page {
  height: auto;

}
#bas_page {
 flex-direction: column;
 margin-left: 30px;
}
#bas_page nav
{
  width: 100%;
}

}
