
@font-face
{
  font-family: 'Raleway';
  src: url('polices/Raleway-VariableFont_wght.ttf') format('truetype');
  /*
  src: url('res_police/Raleway-Italic-VariableFont_wght.ttf') format('truetype');*/
}
i {
  color: #0065FC;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway';
}
#bloc_page {
  width: 100%;
}
#contenair {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}
section {
  display:flex;
  flex-direction:column;
}
div a {
  text-decoration: none;
  color: black;
}
h2 {
  font-size:1.2em;
}
h1 {
  font-weight: bold;
}
/*en tete*/
header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
header a {
  font-size:0.9em;
  padding:30px;
 }
header a:hover {
  color:#0065FC;
}
header a:first-child {
  color:#0065FC;
  border-top: solid 3px #0065FC;
}
header a:nth-child(3) {
  font-weight: bold;
  color:#0065FC;
}
/*aside*/
aside h1 {
  margin-top:40px;
}
aside h5{
  font-weight: normal;
}
aside p, aside h5 {
  font-size:0.9em;
}
/*bouton mark map:*/
aside form {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.geoloc {
  height:3em;
  width:3em;
  border: #F2F2F2 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  }
.geoloc i {
  color:black;
}
.geoloc i:hover{
  color:#0065FC;
}
input, button {
  font-size:1em;
}
aside input[type=search] {
  height: 50px;
  font-weight: bold;
  border: solid 1px #F2F2F2;
  padding-left:10px;
}
.search::placeholder {
  color:black;
}
aside button {
  border: solid 3px #0065FC;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0065FC;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color:white;
  padding-left:10px;
}
button:hover {
  font-weight: bold;
}
.fa-search{
  display: none;
}
/*filtres*/
.filtres {
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  margin-top: 40px;
}
.filtres h3 {
  margin-right: 20px;
}
.filtres a {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: solid 2px #e7e2dc;
  border-left:none;
  border-radius: 30px;
  padding-right:25px;
  margin: 15px;
}
.filtres a:hover {
  background-color: #DEEBFF;
  border: solid 3px #DEEBFF;
}
.filtres i {
  height:50px;
  width:50px;
  background-color: #DEEBFF;
  border-radius: 30px;
  color: #0065FC;
  border:2px solid #DEEBFF;
  padding: 15px;
  margin-right:15px;
}
/*fin filtres*/
aside p {
  margin-top: 40px;
}
.fa-info {
  font-size: 10px;
  border: solid 2px  #F2F2F2;
  border-radius:20px;
  padding: 5px 8px 5px 8px;
  color: #0065FC;
  float: left;
  margin-left:10px;
}
/*bloc hebergements+activites----m'a servi a placer les deux premiers gros blocs*/
#bloc_mars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
h4 {
  font-size:1.1em;
  font-weight: bold;
}
/*article*/
#bloc_hebergements/*(nloc elements + titre)*/{
  width: 67%;
}
#bloc_hebergements, #block_populaire {
  background-color: #F2F2F2;
  border-radius: 20px;
  height:600px;
  padding:30px;
}
#hebergements/*contenant des elements de l'article sf le titre*/{
  width:auto;
  height:450px;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}
.element_h, .element_pop { /*elements communs aux deux blocs*/
  display:flex;
  flex-direction: column;
  border: solid 5px white;
  border-radius:20px;
  box-shadow: 2px 2px 10px #e7e2dc;
  background-color: white;
  overflow: hidden;
  font-size:0.8em;
  margin-top:30px;
}
.element_h p, .element_h h4,#hebergements .note_etoiles {
  padding-left:15px;
  margin-top:5px;
}
.note_etoiles i {
  font-size: 10px;
  font-weight: bold;
}
.note_etoiles .grey {
  color: #d5ccc2ff;
}
.element_h { /*instructions specifiques bloc hebe*/
  height:180px;
  width: 30%;
  justify-content: flex-end;
  align-items: baseline;
  }
.element_h img {
   width: 100%;
   height: 100%;
   object-fit: cover;
  }
  .element_h p {
  font-size: 0.95em;
}
.afficher {
  font-weight: bold;
}
/*article 2*/
#block_populaire {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#block_populaire h3 {
  width:100%;
  display:flex;
  justify-content: space-between;
}
#block_populaire h3 i {
  color: black;
}
.element_pop {
  height:115px;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.element_pop img {
  width:40%;
  height:115px;
  object-fit: cover;
}
.contenu_pop {
  width: 50%;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 20px 5px 20px;
}

/*article3*/
#bloc_act {
  margin-top: 50px;
}
#activites {
  margin-top:20px;
  height:400px;
  max-width: 100%;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap:40px;
}
.element:nth-child(1){
  grid-row: 1/11;
  grid-column: 1/;
}
.element:nth-child(2){
  grid-row: 1/7;
}
.element:nth-child(3){
  grid-row: 7/11;
}
.element:nth-child(4){
  grid-row: 1/11;
  grid-column: 3/4;
}
.element:nth-child(5){
  grid-row: 1/6;
  grid-column: 4/5;
}
.element:nth-child(6){
  grid-row: 6/11;
  grid-column: 4/5;
}
#activites a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow:hidden;
  border-radius: 15px;
  border: solid 1px #F2F2F2;
  box-shadow: 2px 2px 10px #e7e2dc;
  background-color: white;
}
#activites p {
  height: 30px;
  margin: 15px;
  font-weight: bold;
  font-size:0.9em;
}
#activites img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*footer*/
footer {
  height: 200px;
  background-color:#F2F2F2;
  margin-top: 70px;
}
#bas_page {
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 180%;
  margin: auto
}
#bas_page nav {
  width:30%;
  display: flex;
  flex-direction: column;
}
footer h4 {
  font-weight: bold;
  margin-bottom:5px;
  margin-top:35px;
}
